:host {
  display: block;
  width: 100%;
}

p {
  font-size: clamp(12px, 1.37vw, 20px);
  font-weight: bold;
  margin-bottom: 25px;
  padding-left: 4px;
}

a {
  font-size: clamp(10px, 1.17vw, 18px);
  text-decoration: none;
  display: block;
  padding: 4px 4px;
  color: inherit;
}

a:hover {
  background-color: greenyellow;
  border-radius: 6px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0px auto 30px auto;
  max-width: 1256px;
  padding: 0 8vw;
}

.footer__top {
  max-width: 350px;
  box-sizing: border-box;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  gap: clamp(16px, 4vw, 40px);
}

.links-column {
  display: flex;
  flex-direction: column;
}

.icons {
  padding-top: 1em;
  font-size: clamp(12px, 1.37vw, 20px);
  gap: 8px;
}

.divider {
  display: none;
}

@media (max-width: 1024px) {
  .your-class {
    gap: clamp(16px, 4vw, 40px);
  }
}

@media (max-width: 776px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: clamp(5px, 8vw, 20px);
  }

  .footer__links {
    flex-direction: column;
    width: 100%;
  }

  a {
    width: 100%;
    padding: 4px auto;
  }

  .icons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  .icons a:last-child {
    padding-right: 0px;
  }

  .divider {
    display: block;
    height: 1px;
    width: auto;
    background-color: #ccc;
  }
}
