<div class="footer">
  <div class="footer__top">
    <h3>TimeHustle</h3>
    <p>Join millions of people who organize work and life with Todoist.</p>
  </div>
  <div class="footer__links">
    <div class="links-column">
      <p>Features</p>
      <a href="">How It Works</a>
      <a href="">For Teams</a>
      <a href="">Pricing</a>
      <a href="">Templates</a>
    </div>
    <div class="links-column">
      <p>Resources</p>
      <a href="">Download Apps</a>
      <a href="">Help Center</a><a href="">Productivity Methods</a>
      <a href="">Integrations</a>
      <a href="">Channel Partners</a>
      <a href="">Developer API</a><a href="">Status</a>
    </div>
    <div class="links-column">
      <p>Company</p>
      <a href="">About Us</a>
      <a href="">Careers</a>
      <a href="">Inspiration Hub</a>
      <a href="">Press</a>
      <a href="">Twist</a>
    </div>
    <div class="links-column icons">
      <a href="">tw</a>
      <a href="">yt</a>
      <a href="">fb</a>
      <a href="">ig</a>
    </div>
  </div>
</div>
