<div class="showcase-container">
  <div class="scrolling">
    @for ( item of showCaseItem; track item.image) {
    <div class="showcase-list-item">
      <p>{{ item.label }}</p>
      <p>{{ item.label }}</p>
      <p>{{ item.description }}</p>
      @if (item.link) {
      <p>{{ item.linkText }}</p>
      }
      <img [src]="item.image" alt="" class="mobile-img" />
    </div>
    }
  </div>
  <div class="static">
    <img [src]="currentImage" alt="" />
  </div>
</div>

<div>
  <p>
    <span
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex commodi quo
      voluptates a iure. Sit praesentium nostrum vel expedita voluptate aliquid,
      iusto voluptatem accusamus minima odio debitis? Harum, placeat
      provident.</span
    ><span
      >Aliquam minus ad rem voluptates aperiam perspiciatis sint ex obcaecati,
      blanditiis exercitationem excepturi earum ut autem nulla sequi assumenda
      magni quidem molestiae error id repellendus. Cumque debitis labore dolores
      accusantium?</span
    ><span
      >Ipsum, quo quae laudantium porro amet alias beatae quaerat totam vero
      saepe possimus. Laudantium, molestias vitae eos, ut, quis officia animi
      nobis alias amet eveniet dolorum in? Facilis, reiciendis amet.</span
    ><span
      >Beatae nulla animi voluptatum fugiat soluta est nisi possimus iure quae
      iste reprehenderit labore voluptatibus aspernatur consequuntur tempora,
      quo quasi repellat commodi maiores modi nesciunt quod culpa quisquam
      corrupti! Architecto!</span
    ><span
      >Ducimus dolores soluta fugiat adipisci eius, ullam porro eum quibusdam id
      molestias. Culpa ut ipsam sed corporis voluptates, aspernatur quae eum
      placeat. Optio illo nulla est magni sed porro illum.</span
    ><span
      >Officiis eum pariatur minima, exercitationem ut natus harum accusantium
      alias aliquam, a fugiat praesentium id cumque quae! Ad accusantium
      blanditiis error placeat! Voluptatum quidem repudiandae magni aperiam,
      placeat exercitationem ipsa?</span
    ><span
      >Saepe velit atque nemo vero quod facere aspernatur nihil impedit eveniet
      tenetur. Sit molestias nobis corrupti numquam quia culpa non, optio
      quisquam assumenda illo quas perferendis, nostrum quo nemo odio?</span
    ><span
      >Ullam voluptatibus aspernatur pariatur rerum sunt excepturi architecto
      sit, magnam qui blanditiis nisi corrupti vitae voluptatum cumque. Tempora
      pariatur, saepe laboriosam officiis labore eligendi maiores quibusdam
      facilis vel magnam obcaecati!</span
    ><span
      >Illo ut tempora aperiam earum quam fugiat et blanditiis laboriosam ullam,
      laudantium obcaecati? Quos ratione quae exercitationem alias ex at laborum
      sint molestiae, a ullam soluta aliquid, vel rem nesciunt?</span
    ><span
      >Iste, repudiandae optio culpa cumque omnis ad, necessitatibus quis
      labore, a eius autem est sed maiores dolorem! Incidunt aspernatur rerum
      assumenda expedita dolore, veritatis laboriosam impedit at molestiae
      soluta sed?</span
    ><span
      >Reiciendis autem recusandae accusantium modi quas suscipit corporis id?
      Id rem laudantium hic suscipit doloremque similique ad, consectetur autem
      ipsa tenetur quos ipsam dignissimos quaerat harum molestias at vero
      assumenda!</span
    ><span
      >Dolorum commodi hic sed placeat illo id in laborum deleniti fugiat animi
      alias est aliquam aperiam sint, veritatis atque error tempore quis
      reprehenderit vitae non dolores debitis. Nisi, deleniti pariatur.</span
    ><span
      >Aperiam, ducimus. Illum, laborum? Odit illum deleniti aut eius explicabo
      recusandae? Amet iusto animi hic provident, officiis debitis, quos
      mollitia enim tenetur ut odio cumque deleniti ipsa voluptate voluptates
      nihil?</span
    ><span
      >Quas ad sequi nam commodi! Quia ex a dicta, blanditiis nemo repellat
      suscipit necessitatibus itaque magnam eum, ipsum tenetur sequi sed
      doloremque inventore nostrum enim quis saepe praesentium earum quam.</span
    ><span
      >Mollitia itaque illum esse enim laboriosam velit tempore molestias est
      quis ut. Qui magnam sint numquam quas fuga, ab dignissimos corrupti, alias
      mollitia a ducimus, error similique eaque veritatis quod.</span
    ><span
      >Pariatur at itaque officia quis doloribus sunt repellat inventore saepe
      veritatis! Nisi, reiciendis suscipit perspiciatis ipsa libero, pariatur
      rem quos, commodi animi dicta minima nostrum voluptates. Nemo animi totam
      accusantium!</span
    ><span
      >Deleniti consectetur deserunt vitae nam. Quod quia asperiores architecto
      reprehenderit laborum exercitationem voluptates nulla officiis?
      Accusantium, voluptates doloribus earum hic ab non nihil quisquam quae,
      quo esse fugit debitis libero.</span
    ><span
      >Et commodi obcaecati aperiam incidunt ex, accusamus sapiente vitae, harum
      velit voluptate aliquid saepe qui cumque sed! Laborum repellat hic
      facilis, laudantium labore fugit ratione sit, pariatur perspiciatis natus
      similique?</span
    ><span
      >Eligendi nesciunt delectus in, fugiat ratione repudiandae debitis rem
      incidunt consectetur eius asperiores natus, cupiditate modi ut voluptatem
      sit nemo voluptatum obcaecati velit! Quos autem maiores dolorem, aliquam
      vel praesentium!</span
    ><span
      >Esse maxime accusamus laborum autem eum velit obcaecati hic quam
      blanditiis necessitatibus facilis officia deserunt ea, laboriosam
      doloremque voluptatem, corporis nobis. Placeat laborum, maiores deserunt
      molestias perspiciatis iure voluptatum? Et?</span
    ><span
      >Corrupti eligendi quos cupiditate illo, laudantium error nesciunt id
      illum voluptatibus autem, reprehenderit suscipit optio sunt magni natus
      ipsum fugit pariatur voluptatum molestiae, quas distinctio. Quos esse
      minus alias suscipit.</span
    ><span
      >Obcaecati eligendi reprehenderit placeat eum neque incidunt nam tempora
      cumque laborum aut inventore earum doloremque, non voluptatem aspernatur,
      nobis totam corporis? Autem alias blanditiis saepe incidunt! Quis a
      tenetur commodi.</span
    ><span
      >Culpa repudiandae sint aut nulla corrupti vero maxime omnis totam? Omnis
      delectus sint, praesentium ullam alias tenetur, ad, nisi eveniet ea
      quisquam fugit quasi fugiat sapiente illum commodi neque id?</span
    ><span
      >Ullam, consectetur quibusdam? Fuga iste cupiditate, doloribus ad iusto
      quos neque impedit numquam voluptatum quibusdam suscipit, ratione nostrum.
      Quae voluptatibus eligendi eos nulla expedita officiis iste reprehenderit
      aspernatur incidunt error?</span
    ><span
      >Maxime nobis quae molestias non amet ratione consequuntur adipisci
      reiciendis accusantium debitis minus, odio vel voluptatem? Provident
      dolorum perspiciatis cum atque velit, non pariatur est itaque nobis eos
      consectetur nihil!</span
    ><span
      >In iusto asperiores labore ad facere voluptatem voluptatibus aperiam
      cupiditate, blanditiis, tenetur sit inventore, dolore voluptas. Vitae
      accusamus quos, laudantium obcaecati placeat culpa ipsam repellendus at
      neque dolorem saepe impedit.</span
    ><span
      >Magni et omnis ut incidunt dolores commodi amet vero hic, placeat
      debitis? Rerum velit voluptate, eveniet aut dolorum ullam facilis quasi.
      Magnam, odio veniam dolorem aperiam corrupti dolorum necessitatibus
      quidem.</span
    ><span
      >Praesentium cupiditate labore nisi fuga, qui unde ad corrupti maiores
      tempore accusantium a, adipisci quo iure vero culpa, architecto
      laudantium? Quisquam saepe nesciunt quas voluptas laboriosam tempore
      officia dolor assumenda!</span
    ><span
      >Excepturi id ducimus dolorum hic maxime inventore praesentium ea
      necessitatibus sapiente autem accusamus eveniet ut unde, numquam sequi
      facere deserunt at blanditiis alias saepe quisquam deleniti. Et assumenda
      mollitia aliquam?</span
    ><span
      >Explicabo soluta dolores libero mollitia alias deleniti, ipsum, illo
      minus iusto qui eius recusandae nostrum ut quia non ipsa illum quaerat
      corrupti veniam nam cumque! Quidem tenetur reiciendis quasi itaque!</span
    ><span
      >Id eum atque odio dolorem fugit officiis? Ducimus dicta corrupti
      praesentium tempora commodi esse recusandae aliquid quibusdam incidunt
      quidem? Aut consequuntur molestias nostrum asperiores velit possimus,
      nesciunt dolores officia quos?</span
    ><span
      >Ducimus nam possimus aut saepe nulla, labore modi sint molestias
      praesentium esse rem tenetur, dolorum cupiditate? Aliquam sed, autem hic
      veniam minus quisquam debitis. Ea placeat quas aperiam debitis
      culpa!</span
    ><span
      >Voluptatem, ex voluptatibus aliquam, officiis fuga corporis quis
      doloremque expedita beatae temporibus totam id repudiandae nobis excepturi
      hic ullam, mollitia soluta delectus ducimus aperiam assumenda tenetur
      itaque sint ratione! Pariatur!</span
    ><span
      >Deserunt illo, incidunt, aspernatur maxime recusandae, fugit ipsa
      voluptate aperiam similique aliquam dolor? Fuga neque perspiciatis
      laboriosam quidem! Nisi est eligendi repellat optio amet impedit minima
      quos sed commodi dolore!</span
    ><span
      >Reprehenderit totam in nulla optio eligendi magni earum veritatis labore
      dignissimos odit? Deserunt et optio fugit, excepturi eius maxime ea veniam
      quia soluta incidunt molestiae, at suscipit perspiciatis repellat.
      Eveniet.</span
    ><span
      >Aut sequi ad in omnis. Quo, fuga exercitationem? Nemo error quidem
      voluptas minima! Nesciunt, porro maiores odio sapiente facere suscipit
      exercitationem fuga deleniti possimus nihil dignissimos temporibus aut
      totam quas!</span
    ><span
      >Magnam tempora temporibus adipisci, dolores nam, et optio voluptate hic
      fugit ab expedita repudiandae est, modi dolorem nostrum nisi! Harum
      architecto repellat consequuntur vitae nulla esse dolorum quae recusandae
      iusto?</span
    ><span
      >Dolor cum recusandae voluptates perspiciatis id asperiores rem esse
      inventore impedit excepturi ut, laborum deleniti labore nihil. Similique
      sapiente non nesciunt aliquam illo voluptas explicabo est eaque. Eaque,
      nostrum tenetur!</span
    ><span
      >Laborum aliquid temporibus facilis maiores libero. Provident adipisci
      vero autem corrupti tenetur dolorum nihil hic eaque assumenda molestiae.
      Repudiandae ipsum voluptatum quod quos vel. Excepturi ipsa quisquam sed
      odio unde!</span
    ><span
      >Corporis corrupti veritatis placeat cum perspiciatis voluptatibus. Sequi
      eos dolorum, repellat officiis possimus dolor iure suscipit doloribus
      repellendus fuga impedit aperiam, deserunt officia ea veritatis, modi
      culpa quasi quos quod.</span
    ><span
      >Amet, nemo? Ipsam deserunt distinctio at porro maxime cumque enim,
      officiis commodi accusamus dolores omnis. Sint, minima iure? Quidem
      laborum nisi hic vero tenetur minima eius esse illo sed fuga!</span
    ><span
      >Numquam ex quam at? Numquam culpa beatae labore totam eaque minus
      voluptas provident, ipsam similique, iusto consequatur, nam neque
      doloremque dolore sequi tempora id veritatis? Quis voluptatibus cupiditate
      hic vitae!</span
    ><span
      >Repellat corporis cum eos sint! Possimus deserunt tempora dicta quidem.
      Maxime, libero eaque eos quibusdam minima eveniet? Consectetur adipisci
      minus, placeat fugit nostrum tempora maxime, quo, voluptatum tempore ex
      et.</span
    ><span
      >Enim quae recusandae ullam quam ducimus aperiam hic doloribus, nam quis
      corporis temporibus magni. Quisquam corporis suscipit magnam sed repellat,
      debitis necessitatibus! Ratione at ipsa similique tempora explicabo maxime
      ullam.</span
    ><span
      >Inventore iusto aspernatur provident nam magnam id ullam nostrum, rerum
      vero iste adipisci blanditiis unde assumenda possimus, est fugiat corporis
      minus itaque? Expedita inventore debitis iste! Recusandae fugit voluptas
      tempore.</span
    ><span
      >Eos enim doloremque architecto repellendus! Modi cupiditate quod quia
      repudiandae ab magnam tenetur doloribus corrupti, voluptatem aliquid,
      consequatur totam sapiente. Eaque ab adipisci illum sit! Unde similique
      repudiandae facilis sequi!</span
    ><span
      >Dolorum similique error consectetur, consequatur ab autem nam accusantium
      magni. Cumque dicta et eligendi, quaerat magnam qui cupiditate, placeat
      ipsum dolores deleniti sint molestiae vero tempora perferendis, provident
      repudiandae inventore.</span
    ><span
      >Officia in ab autem, reprehenderit natus corrupti vitae architecto enim
      deserunt voluptas quam laborum sed soluta aperiam eius placeat iure illo.
      Sequi quibusdam nesciunt ducimus. Asperiores rem perspiciatis commodi.
      Sequi?</span
    ><span
      >Dolore corporis, deserunt fuga repellendus necessitatibus earum deleniti
      velit delectus hic accusantium ad odit, quod possimus nisi voluptas
      aspernatur quia! Reprehenderit dolor voluptates, veritatis eligendi
      quisquam tempora sint non harum.</span
    ><span
      >Provident earum esse culpa delectus impedit nemo accusantium a quo!
      Animi, magnam ab! Ut illum aperiam minus molestiae, expedita labore, modi
      quo distinctio necessitatibus aut qui possimus sunt perspiciatis
      officia!</span
    ><span
      >Dolores cupiditate quod esse quos, quis maiores laboriosam repellat
      dolorem impedit numquam, sunt porro placeat nesciunt! Magni necessitatibus
      eligendi iusto ea cum ipsum atque distinctio amet! Minima molestias
      deserunt suscipit!</span
    ><span
      >Sapiente cupiditate qui, asperiores blanditiis natus, voluptas nihil odio
      nisi ratione distinctio, necessitatibus dolorem adipisci esse totam! Magni
      tenetur, eos nam beatae, voluptatem doloremque, magnam quasi
      necessitatibus culpa vitae qui.</span
    ><span
      >Sunt nemo accusantium eum illum dolorum. At tempore tempora vitae
      laborum, commodi doloremque non nihil, sed, veritatis in culpa dignissimos
      ipsam repellat a optio neque quia porro id ea cupiditate!</span
    ><span
      >Fugit perferendis excepturi molestiae, optio repudiandae et dolores velit
      numquam quos itaque commodi iusto ipsum nesciunt doloremque quidem culpa
      molestias quia officiis vitae labore nobis voluptate illo. Animi, est
      unde!</span
    ><span
      >Tempore quo nobis voluptatum qui, iusto saepe, quia cumque, odit sunt hic
      error itaque animi debitis ad optio voluptate quis dolores dolor earum
      temporibus eveniet asperiores eos dignissimos! Dolores, eaque.</span
    ><span
      >Sequi necessitatibus beatae magnam ab eius recusandae amet excepturi eos
      ducimus maxime voluptates fugiat, aliquid quod, enim architecto error
      cupiditate nobis numquam nisi? Totam, repellendus voluptate aliquam
      dolores nobis quaerat!</span
    ><span
      >Quasi illo, quam maiores iste adipisci dolores accusamus quas facilis
      soluta non culpa blanditiis ipsum rerum assumenda, voluptatibus commodi
      iure? Nisi corrupti esse fugit in perspiciatis odit asperiores hic
      nobis.</span
    ><span
      >Ad harum iure inventore fugiat quidem a exercitationem cupiditate id
      blanditiis voluptatum, dicta quasi iste odit mollitia excepturi possimus,
      sequi nulla at ratione ducimus. Quam aspernatur nesciunt quisquam
      excepturi adipisci.</span
    ><span
      >In est et vel natus, eius unde id iusto perspiciatis nisi laboriosam,
      commodi nemo sint? Quod, doloremque dicta et dignissimos minima reiciendis
      ut, sed tempora accusamus vel ullam quis dolore?</span
    ><span
      >Qui labore ducimus deleniti necessitatibus consequuntur laborum rem.
      Dolore minus aliquid itaque est accusamus adipisci velit cupiditate ab
      nulla. Eaque sequi tenetur quasi laudantium natus id voluptatum
      praesentium deserunt ipsa.</span
    ><span
      >Commodi quasi rem unde! Ipsum veniam officiis deserunt ducimus error
      cupiditate, autem pariatur magni eligendi harum alias quidem. Laudantium
      perspiciatis quis beatae maxime voluptas dolorem corrupti iure iste,
      possimus quas!</span
    ><span
      >Repudiandae aliquid laborum porro pariatur nihil cum, quae quidem modi
      animi laudantium non maiores blanditiis voluptate exercitationem
      distinctio, placeat dignissimos expedita eaque odio earum, illum nisi
      tempora numquam magnam? Voluptatem.</span
    ><span
      >Voluptas, omnis. Doloribus aperiam provident hic cum, tempora eveniet
      error ipsam iste molestiae nihil beatae, ex magnam quibusdam aliquam
      eaque, sequi numquam labore? Aliquid cupiditate quas odio fugit dolorum
      earum.</span
    ><span
      >Dolor a libero quod dolorum, aperiam repudiandae necessitatibus, delectus
      minima quos molestias, minus aspernatur ab commodi harum. Delectus illo
      quaerat velit deleniti, rem aliquam voluptatem ea eligendi ut esse
      earum!</span
    ><span
      >Pariatur itaque beatae, obcaecati consequatur amet suscipit veritatis
      delectus in, hic odit repellendus libero quia aspernatur quod quam
      inventore provident sint sequi architecto! Harum, dolore! Sint aut magni
      esse quia?</span
    ><span
      >Sunt labore dolores fuga, voluptatem harum corporis asperiores
      repudiandae optio rerum excepturi, aliquam culpa quam dolorum delectus
      quidem nobis magni pariatur. Explicabo non tenetur porro dicta aliquid, ut
      itaque. Cumque?</span
    ><span
      >Eos ratione rerum quod distinctio accusantium cumque, vero at earum
      repudiandae. Qui accusantium quasi, aut possimus, est magnam aperiam in
      consequatur laborum perspiciatis saepe vero. Sint illum perspiciatis est
      repellendus?</span
    ><span
      >Nisi, eligendi vel possimus, cumque unde nulla distinctio rerum aliquid,
      hic alias obcaecati sapiente sunt esse dolore at recusandae asperiores aut
      nesciunt? Ratione, sint. Modi magnam totam nisi consequatur enim.</span
    ><span
      >Eveniet minus quo repellat consequatur in mollitia at corrupti natus
      minima libero nobis, aliquam impedit nam magnam quisquam. Corrupti aut
      debitis adipisci quibusdam optio illo, dignissimos hic ad veniam?
      Voluptatibus.</span
    ><span
      >Optio mollitia, rem laudantium dicta nostrum earum odit, reprehenderit ab
      dolorum ex iusto placeat? Nobis praesentium voluptate ad quae fugit vero.
      Quasi distinctio commodi quidem reiciendis aliquid magni cumque sed?</span
    ><span
      >Cum, quasi obcaecati quisquam iusto tenetur voluptatibus totam optio
      tempora illo. Nesciunt perferendis qui sint, tempora exercitationem enim
      ab distinctio accusamus amet temporibus iure assumenda voluptatibus dolor
      culpa nulla dignissimos.</span
    ><span
      >Error voluptates dolores esse culpa quis, facere, praesentium sint
      assumenda deleniti, quod alias libero ex laudantium in quo! Harum culpa
      debitis magnam exercitationem, amet porro voluptates dolore iure
      asperiores veniam!</span
    ><span
      >Odit, neque eos placeat eius quas corrupti nulla in! Inventore doloribus
      ea hic totam laudantium quae. Officia molestiae architecto nobis, ducimus
      accusamus cum magnam, enim consequatur quo, eum explicabo? Labore.</span
    ><span
      >Iure cumque quibusdam fugiat aspernatur labore, ratione delectus totam
      voluptatum est cupiditate nesciunt commodi eligendi magnam tempore natus,
      esse perspiciatis illum praesentium suscipit veritatis, unde iste fugit
      ab. Quam, maiores!</span
    ><span
      >Perferendis consequatur vero laboriosam quisquam rerum dignissimos
      blanditiis quaerat veritatis dolorum corporis quidem natus aliquid non
      vitae suscipit, odit ducimus aliquam neque nobis sit laborum quod.
      Suscipit itaque architecto delectus!</span
    ><span
      >Deserunt numquam sequi vel saepe distinctio ut, maxime dolores,
      architecto aut ducimus odio laboriosam iste perspiciatis beatae nesciunt,
      id voluptates cumque. Ducimus numquam ullam odit quod inventore, aliquam
      veniam explicabo?</span
    ><span
      >Delectus incidunt dolorem nisi expedita maxime ex quae optio temporibus
      aliquid blanditiis dicta nihil unde voluptatum alias amet est repellat
      ipsam necessitatibus tenetur nulla, cupiditate voluptate iure facere.
      Harum, magnam!</span
    ><span
      >Beatae corporis laudantium, velit nam iste facilis natus maxime molestiae
      suscipit voluptatem aut doloremque repellendus nemo reprehenderit
      doloribus incidunt aperiam voluptates numquam amet rerum alias illum
      quaerat cupiditate. Officia, non.</span
    ><span
      >Commodi corrupti laboriosam est autem assumenda culpa ab nemo, vitae
      molestiae voluptates nisi iure laudantium aut aperiam ipsa, neque sapiente
      quis dolorem. Ad atque sapiente repudiandae quo odio quae
      blanditiis?</span
    ><span
      >Accusantium repellat rem rerum unde? Tenetur perferendis illum omnis,
      enim quaerat, non est dolor cum, accusamus harum suscipit quo quis porro
      aliquid aperiam animi nemo. Ipsa iusto eveniet blanditiis incidunt?</span
    ><span
      >Odio obcaecati animi, a minima, error quaerat, totam voluptas accusamus
      sint natus distinctio dolorum consequuntur. Ducimus soluta tenetur
      cupiditate vitae consequatur quasi harum veritatis beatae hic ipsa, quod
      animi iste!</span
    ><span
      >Aut voluptatem, explicabo non provident doloribus ratione quis
      consequuntur quia hic possimus vitae. Aut, quam, autem velit minima,
      molestiae quae neque fugit eius animi saepe dolores esse. Reiciendis, qui
      corrupti!</span
    ><span
      >Officia, quibusdam non numquam iure hic culpa. Neque est consequatur
      totam rem illum. Deserunt impedit magnam quasi, ratione, expedita qui
      officiis ab, iusto non dolorem praesentium id facilis dicta
      pariatur!</span
    ><span
      >Cupiditate vero nam doloribus exercitationem autem magnam molestias quo
      consequuntur, nulla odit iusto voluptas vitae temporibus. Voluptatibus
      fugit blanditiis nihil ea, velit voluptatem, ad accusamus aliquid enim,
      autem quibusdam consequuntur.</span
    ><span
      >Doloribus veritatis sit est iste debitis in sunt? Alias eligendi soluta
      culpa magni, fugit cum in quam dolore cupiditate commodi nesciunt
      voluptate, obcaecati voluptatibus, placeat eos perspiciatis enim porro
      error.</span
    ><span
      >Sit aspernatur, at ratione dolores iure quam hic non distinctio aut modi
      quia ut nam rem aperiam voluptatum ea delectus dicta possimus. Iusto
      laudantium quos nisi sapiente iure consequatur sed.</span
    ><span
      >Incidunt eius, vitae, quod distinctio aspernatur, beatae eos tempora
      aliquam laborum nam mollitia eaque molestiae ipsum omnis voluptas itaque?
      Labore itaque nobis iste. Repellendus adipisci culpa quidem nam! Aliquid,
      eum.</span
    ><span
      >Sint iusto numquam est repellat, voluptates veritatis officia
      reprehenderit quod explicabo itaque doloremque amet earum provident
      laboriosam, fugit minus repudiandae. Dolores eligendi odio et id omnis
      perspiciatis delectus illum veniam.</span
    ><span
      >Quisquam accusantium non voluptas porro asperiores voluptate provident
      delectus? Reiciendis inventore sit qui sequi quisquam, velit veniam a
      nesciunt doloribus nihil libero nam nobis quos laborum ipsam assumenda
      esse ab!</span
    ><span
      >Velit harum quis perspiciatis alias ipsa rerum nihil iure repellat illum
      nisi dicta, aut perferendis repellendus inventore praesentium voluptatum
      quas, tempore doloremque. Velit magni pariatur eveniet iure provident
      ipsum ea.</span
    ><span
      >Placeat aliquam, nesciunt enim unde saepe iure. Voluptates maiores
      tempore distinctio dolorum tenetur harum. Magnam quo quisquam nam,
      accusantium esse cupiditate quis numquam vitae fugiat maxime? Quasi
      possimus commodi voluptate.</span
    ><span
      >Ab ipsa, voluptate sequi, tempora deleniti a, corrupti dolorum commodi
      temporibus nisi quae cumque maxime sint vero atque sunt quaerat ratione
      ipsam obcaecati eum accusamus dignissimos consequatur! Error, voluptatum
      molestias!</span
    ><span
      >Doloribus dicta sint distinctio obcaecati in recusandae hic earum,
      reiciendis cupiditate voluptate unde corporis iusto libero vel aperiam
      veniam voluptas dolorum cum quam dolorem dignissimos totam qui? Atque,
      quisquam doloribus?</span
    ><span
      >Vero impedit blanditiis explicabo accusantium, fugiat non hic porro
      corrupti praesentium ipsum esse provident deserunt architecto. Quis,
      voluptatibus, eveniet, perferendis dignissimos aliquam iste explicabo
      earum asperiores vero similique dolore natus?</span
    ><span
      >Eum neque consequuntur temporibus minus eius facere iure id magni.
      Voluptatem voluptatum sapiente nihil unde quibusdam soluta quod aliquam
      minus, voluptatibus fuga, culpa magni repellat minima veniam maxime eius
      numquam.</span
    ><span
      >Quibusdam ratione labore neque unde, alias excepturi tempore, omnis
      nostrum quis est sint sequi illum aperiam quod. Excepturi perspiciatis
      exercitationem consequatur, eum necessitatibus impedit error aliquid,
      quas, suscipit sapiente dicta!</span
    ><span
      >Dolores provident veniam eos corrupti, laboriosam quos quibusdam
      repellendus quasi rerum aliquam dolorem facilis, eum animi suscipit
      praesentium eligendi corporis aperiam cumque culpa. Mollitia praesentium,
      illum odio at possimus sed.</span
    ><span
      >Cupiditate quod vel eligendi eius beatae incidunt sit saepe, esse quas,
      rerum quibusdam magni expedita asperiores repellendus libero, molestiae
      nam numquam enim? Aspernatur quisquam error et facilis voluptatibus minima
      doloribus!</span
    ><span
      >Consequatur delectus veniam soluta recusandae quidem sunt. Pariatur et ab
      nostrum saepe molestiae voluptatem voluptatum debitis, minus in iure
      repellat sint odit possimus hic rerum dolorem sit numquam officia
      maxime.</span
    ><span
      >Illo doloribus ab beatae eligendi accusantium sint odit iure impedit
      reiciendis mollitia inventore tempore magni voluptates, quaerat dolore
      aliquam quia excepturi reprehenderit quos vel? Possimus est ipsa nam dolor
      accusamus.</span
    >
  </p>
</div>
