<div class="showcase-container">
  <div class="scrolling">
    <div class="showcase-list-item">
      <p>Clear your mind</p>
      <p>Capture tasks at the speed of thought</p>
      <p>
        We’ve spent over a decade refining Todoist to be an extension of your
        mind. Capture and organize tasks instantly using easy-flowing, natural
        language.
      </p>
    </div>
    <div class="showcase-list-item">
      <p>Focus on what’s important</p>
      <p>Stay organized and focused</p>
      <p>
        Achieve mental clarity by sorting tasks into Today, Upcoming, or using
        custom filters. See only what you need, when you need it.
      </p>
    </div>
    <div class="showcase-list-item">
      <p>Plan with confidence</p>
      <p>Simplify your planning</p>
      <p>
        Make the most of your time. Schedule due dates, visualize your week in
        calendar view, and set recurring tasks with ease.
      </p>
    </div>
    <div class="showcase-list-item">
      <p>Organize your teamwork, too</p>
      <p>A home for your team’s tasks</p>
      <p>
        Give your team a shared space to collaborate and stay on top of it all –
        alongside but separate from your personal tasks and projects.
      </p>
      <a>Learn more about teams </a>
    </div>
  </div>
  <div class="static">
    <img src="er.jpg" alt="" />
  </div>
</div>
