.header__container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(81, 154, 81);
}

.header {
  height: 72px;
  max-width: 1312px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 24px;
}

.header h1 {
  font-size: min(2.3vw, 40px);
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px 2px;
}

.navbar button {
  margin: 0 2.6px;
}

.navbar__item {
  display: flex;
  align-items: center;
  gap: 2px;
}

button {
  background-color: transparent;
  border-radius: 8px;
  font-weight: 400;
  padding: 8px 14px;
  box-sizing: border-box;
  border: none;
}

button:hover {
  background-color: greenyellow;
}

ul {
  list-style: none;
  padding: 0;
}

span {
  text-align: center;
  font-size: 15px;
  display: block;
}

.vertical-divider {
  width: 1px;
  background-color: #ccc;
  height: 24px;
  margin: 0 6px;
}

.menu-icon {
  display: none;
}

.navbar__drawer {
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
  background-color: #b6f5cc;
}

.horizontal-divider {
  height: 1px;
  background-color: #010101;
  width: auto;
  flex-shrink: 0;
}

.navbar__drawer button {
  padding: 10px 18px;
}

.navbar__drawer__vertical-list {
  display: flex;
  flex-direction: column;
}

.navbar__drawer__vertical-list button {
  text-align: left;
  margin: 10px 0px;
}

.navbar__drawer__vertical-list button span {
  text-align: left;
}

.navbar__drawer__horizontal-list {
  display: flex;
  justify-content: space-around;
}

.navbar__drawer__horizontal-list button {
  flex: 1 1 50%;
  margin: 10px 0px;
}

.navbar__drawer__horizontal-list button:first-child {
  margin-right: 12px;
}

.is-hidden {
  display: none;
}

@media (max-width: 956px) {
  .navbar {
    display: none;
  }

  .menu-icon {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .header h1 {
    font-size: 5vw;
  }

  span {
    font-size: 3vw;
  }
}
