.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--padding-landing-page);
  background-color: rgb(81, 154, 81);
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 0px 2px;
}

.navbar button{
  margin-left: 5px;
}

.navbar-item1,
.navbar-item2 {
  display: flex;
  align-items: center;
  gap: 2px;
}

button {
  background-color: transparent;
  border-radius: 8px;
  font-weight: 400;
  padding: 8px 14px;
  box-sizing: border-box;
  border: none;
  background-color: greenyellow;
}

button:hover {
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  padding: 0;
}

span {
  text-align: center;
  font-size: 16px;
  display: block;
}

.verticalDivider {
  width: 1px;
  background-color: #ccc;
  height: 24px;
  margin: 0px 8px;
}

.menuIcon {
  display: none;
}

.navbarDrawer {
  display: flex;
  flex-direction: column;
  padding: 20px 26px;
  background-color: #b6f5cc;
}

.horizontalDivider {
  height: 1px;
  background-color: #010101;
  width: auto;
  flex-shrink: 0;
}

.navbarDrawer button {
  padding: 10px 18px;
}

.navbarDrawer__verticalList {
  display: flex;
  flex-direction: column;
}

.navbarDrawer__verticalList button {
  text-align: left;
  margin: 10px 0px;
}

.navbarDrawer__verticalList button span {
  text-align: left;
}

.navbarDrawer__horizontalList {
  display: flex;
  justify-content: space-around;
}

.navbarDrawer__horizontalList button {
  flex: 1 1 50%;
  margin: 10px 0px;
}

.navbarDrawer__horizontalList button:first-child {
  margin-right: 12px;
}

.isVisible {
  display: none;
}

@media screen and (max-width: 926px) {
  .navbar {
    display: none;
  }

  .menuIcon {
    display: inline-block;
  }
}
