<div class="header__container">
<div class="header">
  <h1>TimeHustle</h1>
  <div class="navbar">
    <ul class="navbar__item">
      <li>
        <button><span>How It Works</span></button>
      </li>
      <li>
        <button><span>Testimonials</span></button>
      </li>
      <li>
        <button><span>FAQ</span></button>
      </li>
    </ul>
    <div class="vertical-divider"></div>
    <ul class="navbar__item">
      <li>
        <button><span>Log in</span></button>
      </li>
      <li>
        <button class="last-button"><span>Start for free</span></button>
      </li>
    </ul>
  </div>
  <div class="menu-icon">
    @if (isDrawerHidden) {
      <button (click)="toggleNavbarDrawer()"><span>Menu</span></button>
    } @else {
      <button (click)="toggleNavbarDrawer()"><span>Menuback</span></button>
    }
  </div>
</div>
</div>
<div class="navbar__drawer" [class.is-hidden]="isDrawerHidden">
  <div class="navbar__drawer__vertical-list">
    <button><span>List 1</span></button>
    <button><span>List 2</span></button>
    <button><span>List 3</span></button>
  </div>
  <div class="horizontal-divider"></div>
  <div class="navbar__drawer__horizontal-list">
    <button><span>Log in</span></button>
    <button><span>Start for free</span></button>
  </div>
</div>
