<div class="header">
  <h1>TimeHustle</h1>
  <div class="navbar">
    <ul class="navbar-item1">
      <li>
        <button><span>How It Works</span></button>
      </li>
      <li>
        <button><span>Testimonials</span></button>
      </li>
      <li>
        <button><span>FAQ</span></button>
      </li>
    </ul>
    <div class="divider"></div>
    <ul class="navbar-item2">
      <li>
        <button><span>Log in</span></button>
      </li>
      <li>
        <button><span>Sign up</span></button>
      </li>
      <li>
        <button>Menu</button>
      </li>
    </ul>
    <ul class="sidebar-item1">
      <li>
        <button><span>How It Works</span></button>
      </li>
      <li>
        <button><span>Testimonials</span></button>
      </li>
      <li>
        <button><span>FAQ</span></button>
      </li>
    </ul>
    <ul class="sidebar-item2">
      <li>
        <button><span>Log in</span></button>
      </li>
      <li>
        <button><span>Sign up</span></button>
      </li>
    </ul>
  </div>
</div>
