<div class="testimonials_container">
  <div class="testimonials_container-item scroll">
    <div class="scroll-item">
      <div class="testimonials_container-item">
        <p>“Simple, straightforward, and super powerful”</p>
        <p>img1</p>
      </div>
      <div class="divider"></div>
      <div class="testimonials_container-item">
        <p>“The best to-do list app on the market”</p>
        <p>img2</p>
      </div>
      <div class="divider"></div>
      <div class="testimonials_container-item">
        <p>“Nothing short of stellar”</p>
        <p>img3</p>
      </div>
    </div>
    <div class="scroll-item forScroll">
      <div class="divider"></div>
      <div class="testimonials_container-item scroller__inner ">
        <p>“Simple, straightforward, and super powerful”</p>
        <p>img1</p>
      </div>
      <div class="divider forScroll"></div>
      <div class="testimonials_container-item">
        <p>“The best to-do list app on the market”</p>
        <p>img2</p>
      </div>
      <div class="divider forScroll"></div>
      <div class="testimonials_container-item">
        <p>“Nothing short of stellar”</p>
        <p>img3</p>
      </div>
      <div class="divider"></div>
    </div>
  </div>
</div>
