p {
  font-size: 20px;
  display: block;
  width: 270px;
}

.testimonials_container {
  width: 100%;
  display: flex;
  justify-content: center;
  text-wrap: balance;
  margin: 56px 0px 128px;
}

.scroll-item {
  display: flex;
}

.testimonials_container-item {
  height: 136px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.divider {
  width: 1px;
  align-self: stretch;
  background-color: grey;
  margin: 1vw 0;
}

.forScroll {
  display: none;
}

@media (max-width: 956px) {
  .forScroll {
    display: block;
  }

  .scroll {
    overflow-x: auto;
    overflow-y: hidden;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
  }

  .scroll-item {
    animation: scroll 20s linear infinite;
    display: flex;
  }

  p {
    text-wrap: balance;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

@media (max-width: 180px) {
  p {
    font-size: 8vw;
    width: 60vw;
  }

  .testimonials_container-item {
    height: 62vw;
    width: auto;
  }
}

@media (max-width: 772px) {
  .testimonials_container {
  margin-bottom: 100px;
  }
}
