<div class="hero">
  <div class="hero__details">
    <h1>Organize your work and life, finally.</h1>
    <p>
      Simplify life for both you and your team with the world’s #1 task manager
      and to-do list app.
    </p>
    <div class="hero__details__reviews">
      <p>374K+ ★★★★★ reviews from</p>
      <p>i1</p>
      <p>i2</p>
    </div>
    <button>Start for free.</button>
  </div>
  <div class="hero__foreGroundImage">
    <img src="er.jpg" alt="test" class="landscapeImg"/>
    <img src="1.jpg" alt="test" class="portraitImg"/>
  </div>
</div>
